{%extends "base.html.twig"%}
{%block body%}
{{form_start(form)}}
{{form_widget(form)}}
<div class="">
<a
    name=""
    id=""
    class=""
    href="{{path('app_people')}}"
    >Retour à la liste</a
>
</div>
<button
    type="submit"
    class="btn btn-primary"
>
    Enregistrer
</button>

{{form_end(form)}}
{%endblock%}