{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<ul>
{% for recipe in recipes %}
    <li>
        <a href="{{recipe.slug}}">
            {{recipe.title}}
        </a>
    </li>
{% endfor %}
</ul>
{# <div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/xampp/htdocs/e_success_v2/src/Controller/RecipeController.php</code></li>
        <li>Your template at <code>C:/xampp/htdocs/e_success_v2/templates/recipe/index.html.twig</code></li>
    </ul>
</div> #}
{% endblock %}
