		<footer class="container-fluid bg-black">
			<div
				class="container py-5 fixed-bottoma text-light ">
				<!-- <footer > -->
				<div class="row">
					<div class="col-12 col-md">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewbox="0 0 24 24">
							<title>Product</title>
							<circle cx="12" cy="12" r="10"/>
							<path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
						</svg>
						<small class="d-block mb-3 text-light">&copy; 2023–2024</small>
						<H5>E-SUCCESS</H5>
						<p>Nous sommes une équipe de 4 personnes passionnées par le développement, et nous avons
																																															                        développé ce
																																															                        site pour vendre des produits spécialisés dans le domaine du sport.</p>
					</div>
					<div class="col-6 col-md">
						<h5>Politique</h5>
						<ul class="list-unstyled text-small">
							<li>
								<a class="link-secondary text-decoration-none" href="#">Conditions générales de
																																																											                                vente</a>
							</li>
							<li>
								<a class="link-secondary text-decoration-none" href="#">Politique de remboursement</a>
							</li>
							<li>
								<a class="link-secondary text-decoration-none" href="#">Politique de confidentialité</a>
							</li>
							<li>
								<a class="link-secondary text-decoration-none" href="#">A propos de nous</a>
							</li>
							<li>
								<a class="link-secondary text-decoration-none" href="#">Politique d'expédition</a>
							</li>
						</ul>
					</div>
					<div class="col-6 col-md">
						<h5>Nous contacter</h5>
						<p>Le service clientèle est ouvert du lundi au dimanche de 9h à 18h.</p>
						<ul class="list-unstyled text-small">
							<li>
								<a class="link-secondary text-decoration-none" href="#">contact@essuccess.com</a>
							</li>
							<li>
								<a class="link-secondary text-decoration-none" href="#">24/7</a>
							</li>
							<form action="envoyer_mail.php" method="post">
								<div class="mb-3">
									<label for="email" class="form-label">Abonnez-vous à nos emails :</label>
									<input type="email" class="form-control" id="email" name="email" required>
								</div>
								<button type="submit" class="btn btn-primary">Envoyer</button>
							</form>
						</ul>
					</div>
					<div class="col-6 col-md">
						<h5>Besoin d'aide ?</h5>
						<ul class="list-unstyled text-small">
							<li>
								<a class="link-secondary text-decoration-none" href="#">Suivre vos commandes</a>
							</li>
							<li>
								<a class="link-secondary text-decoration-none" href="#">Service Client</a>
							</li>
							<li>
								<a class="link-secondary text-decoration-none" href="#">Methode de paiement</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>