<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>

			{% block title "E-success" %}

		</title>

		{% include 'link.html.twig' %}

		{% block stylesheets %}
		{% endblock %}

	</head>
	<body class="d-flex flex-column ">

		{% include 'header.html.twig' %}

		{%block main%}
		{% endblock %}

		{% include 'footer.html.twig' %}

		{%block script%}
		{% endblock %}

	</body>
</html>
