<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>

			{% block title "E-success" %}

		</title>

		{% include '_link.html.twig' %}

		{% block stylesheets %}
		{% endblock %}

	</head>

	{%block body%}

		{%block script%}
		{% endblock %}

	{% endblock %}
	
</html>
