            <header>
                <div class="promo">
                    <p>Livraison GRATUITE dans toute L'EUROPE🌎</p>
                </div>
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <a href="{{path('app_home')}}" class="navbar-brand">E-SUCCESS</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="navbar-toggler-icon"></span>
					    </button>
                        <div class="collapse navbar-collapse" id="navbarScroll">
                            <!-- groupe navigation site -->
                            <ul
                                class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                                <!-- lien pour tous -->
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{path('app_home')}}">Acceuil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled " aria-current="page" href="magasin">Magasin</a>
                                </li>
                                <!-- lien pour caisse et admin -->

                                <li class="nav-item">
                                    <a class="nav-link disabled" href="produit">Article</a>
                                </li>

                                <!-- lien pour sav et admin  -->

                                <li class="nav-item">
                                    <a class="nav-link" href="{{path('app_people')}}">Client</a>
                                </li>

                                <!-- liens pour admin uniquement -->

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Parametre
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item disabled" href="user">User</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item disabled" href="role">Role</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item disabled" href="xlsx">Xlsx</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- groupe connexion compte création compte -->
                            <ul class="nav justify-content-lg-end flex-md-row">
                                <!-- si connecté afficher -->
                                <li class="nav-item w-100 ">
                                    <div class="dropdown open"> 
                                        {# <a href="" class="btn btn-secondary dropdown-toggle w-100 " type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Username
                                        </a> #}
                                        <div class="dropdown-menu dropdown-menu-lg-end w-100" aria-labelledby="triggerId">
                                            <a class="dropdown-item" href="login&action=logout">
                                                Se deconnecter
                                            </a>
                                        </div>
                                    </div>
                                    {# si visiteur #}
                                    <a href="login" class="btn btn-outline-success w-100 disabled">Se connecter ou s'inscrire</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
